<h3>New Training</h3>

<br><br>

<%= form_for ([@day, @training]) do |f| %>
  <p>
    <strong>Body Weight</strong><br>
    <%= f.text_field :weight %>
  </p>
  <p>
    <strong>Training`s Description</strong><br>
    <%= f.text_area :info %>
  </p>
  <p>
    <%= f.submit "Start Training" %>
  </p>
<% end %>


<br><br>