<h4>EvenLift.ru</h4>

<p>Сайт <a href="http://www.evenlift.ru">EvenLift.ru</a> помогает рассчитать программу Джима Вендлера «5/3/1».
Кроме того, тут можно вести дневник тренировок, смотреть график веса тела, график прогресса веса в упражнениях, следить за историей тренировок и тд. Пользование сайтом дает +15 к концентрации и +20 к мотивации.</p>

<br><h4>Программа «5/3/1»</h4>

<p>Вендлер описывает философию «5/3/1» как основывающуюся на основных принципах силовой тренировки, прошедших проверку временем где используются базовые упражнения.</p>
<p>Базовые многосуставные подъемы и жимы: «Приседания, жимы лежа, становые тяги, жимы стоя были в репертуаре любого силовика. Те, кто игнорировал эти упражнения обычно был в самой заднице. Если вы хорошо прогрессируете в этих упражнениях, значит вы будете хороши и в других, поскольку эти упражнения – основа силы».</p>

<p>В программе «5/3/1» вы тренируетесь три или четыре дня в неделю, каждая тренировка строится вокруг одного базового упражнения: приседаний, становой тяги, жима стоя, жима лежа. Каждый тренировочный цикл длится четыре недели. Для каждого из базовых движений схема выполнения подходов-повторений следующая:</p>

<p>Неделя 1 3х5</p>
<p>Неделя 2 3х3</p>
<p>Неделя 3 3х5;3;1</p>
<p>Неделя 4 перезагрузка</p>

<p>С началом нового тренировочного цикла вес в базовых упражнениях добавляется. И вот тогда казалось бы простая система начинает усложняться.</p>
<p>Вы не просто поднимаете вес пять, три или один раз в подходе. Вы используете вес в определенном проценте от вашего максимума в одном повторении (1RM). Только в качестве базы берется не максимальный вес в одном повторении, а 90% от него.</p>
<p>Итак, если ваш максимум в жиме лежа 315 фунтов (около 143 кг) вы используете вес в 285 фунтов (где-то 130 кг) в качестве базового.</p>
<p>Вот как это выглядит:</p>

<p>Неделя 1 Неделя 2 Неделя 3 Неделя 4</p>
<p>Подход 1 65% х 5 70% х 3 75% х 5 40% х 5</p>
<p>Подход 2 75% х 5 80% х 3 85% х 3 50% х 5</p>
<p>Подход 3 85% х 5+ 90% х 3+ 95% х 1+ 60% х 5</p>

<br><h4>Джим Вендлер</h4>

<p>Джим Вендлер (<a href="http://www.jimwendler.com">www.jimwendler.com</a>, <a href="http://www.youtube.com/user/JimWendler">канал на youtube</a>) - атлет (приседания со штангой – 455 кг, становая тяга – 318 кг, жим лежа – 307 кг), автор книг <a href="http://www.amazon.com/Simplest-Effective-Training-System-Strength-ebook/dp/B00AJ8CIQM/ref=la_B006P5V4RC_1_1?s=books&ie=UTF8&qid=1412586549&sr=1-1">«5/3/1»</a>, <a href="http://www.amazon.com/Beyond-Simple-Training-Extraordinary-Results-ebook/dp/B00DT5FIYQ/ref=la_B006P5V4RC_1_2?s=books&ie=UTF8&qid=1412586549&sr=1-2">«После 5/3/1»</a>, <a href="http://www.amazon.com/Powerlifting-Effective-Training-Maximal-Strength-ebook/dp/B00ARMDXVE/ref=la_B006P5V4RC_1_3?s=books&ie=UTF8&qid=1412586549&sr=1-3">«5/3/1 для пауэрлифтинга»</a>.</p>

<br><br>

<p>Подробнее о функциях сайта можно почитать в разделе <a href="/faq">FAQ</a></p>
