<h4>EvenLift</h4>

<p><a href="http://www.evenlift.ru">EvenLift.ru</a> helps you calculate «5/3/1» routine.
Besides, you can track your trainings, check body weight chart, look training history and etc. Using the site gives you +15 concentration and +20 motivation.</p>

<br><h4>Jim Wendler</h4>

<p>Jim Wendler (<a href="http://www.jimwendler.com">www.jimwendler.com</a>, <a href="http://www.youtube.com/user/JimWendler">youtube</a>) - bodybuilder, powerlifter, writer of <a href="http://www.amazon.com/Simplest-Effective-Training-System-Strength-ebook/dp/B00AJ8CIQM/ref=la_B006P5V4RC_1_1?s=books&ie=UTF8&qid=1412586549&sr=1-1">«5/3/1</a>, <a href="http://www.amazon.com/Beyond-Simple-Training-Extraordinary-Results-ebook/dp/B00DT5FIYQ/ref=la_B006P5V4RC_1_2?s=books&ie=UTF8&qid=1412586549&sr=1-2">«Beyond 5/3/1»</a>, <a href="http://www.amazon.com/Powerlifting-Effective-Training-Maximal-Strength-ebook/dp/B00ARMDXVE/ref=la_B006P5V4RC_1_3?s=books&ie=UTF8&qid=1412586549&sr=1-3">«5/3/1 for powerlifting»</a>.</p>

<br><h4>5/3/1 Routine</h4>

<p>5/3/1 can be used for all experience levels, but is generally recommended for intermediate athletes. If you are looking for short training sessions, and slow but steady progress, then 5/3/1/ might be great for you. Jim believes starting light allows a lifter more room to progress forward.</p>

<p>Brand new lifters are usually able to progress more quickly from a beginner routine due to practicing the lifts more frequently. Advanced lifters can benefit from its long term training focus.</p>

<p>5/3/1 is built around cycles. Each cycle consists of 4 weeks. Each week you will be training either 3 or 4 days per week. Four days per week is ideal. Each day should be focused around one core lift. These lifts are Military Press, Deadlift, Bench Press, and Squat. If you decide to run this program on three days per week, you will still only perform one main lift per day. This means you will not perform the same lifts, on the same day, each week. You must perform all four lifts before repeating.</p>

<p>You will have rep-set goals for all of the major lifts each week.</p>

<p>Week 1: 3×5 (3 sets of 5 reps)</p>
<p>Week 2: 3×3 (3 sets of 3 reps)</p>
<p>Week 3: 3×5, 3, 1 (1 set of 5 reps, 1 set of 3 reps, and 1 set of 1 rep)</p>
<p>Week 4: Deloading (3 sets of 5 reps)</p>

<p>Once the cycle (4 weeks) is completed you will start your next cycle using heavier weights.</p>

<br><br>

<p>Contact e-mail: doyou[at]evenlift.ru.</p>
