<h4>www.EvenLift.ru - F.A.Q.</h4>

<p>Опции сайта, при работе в режиме зарегистрированного пользователя.</p>

<br><h4>Расчет программы «5/3/1»</h4>

<p>После того, как рассчитанная таблица с программой вас устраивает, вы ставите галочку "Перенести программу " и еще раз нажимаете "Посчитать". В закладке 
	<% if current_user %>
	  <a href="http://www.evenlift.ru/days">"Расписание"</a>
	<% else %>
	  "Расписание"
	<% end %>
	 создадутся тренировочные дни вашей программы.</p>

<p>Подробнее о системе тренировок "5/3/1" можно почитать в разделе <a href="/about">About</a></p>

<br><h4>Тренировка</h4>

<p>Для того чтобы начать тренировку нужно нажать "Тренироваться" у нужного дня в Расписании, ввести вес и описание (необязательно) и нажать "Начать". Программа создаст тренировку со списком нужных упражнений, по которым вам в этот день нужно пройти. Если вам нужно изменить сделанные повторения или вес, то не забудьте нажать кнопку "Записать" после того, как введете новые данные.</p>
<p>Кнопка "Записать +Шаблон" для людей, которые пользуется постоянной программой, а не 5/3/1. Она записывает не только в тренировку, но и в день, по которой она была создан, чтобы в следующий раз знать какой вес рабочий.</p>
<p>Если вас раздражает окно подтверждения, выскакивающее по кнопке "Записать", то его можно выключить в настройках вашего профайла ("Изменить данные" -> "Подтверждения по кнопке 'Записать'" ).</p>

<br><h4>Добавочные функции</h4>

<p>Если вам требуется добавить свою подсобку в расчет программы 5/3/1, то нужно создать нужное количество дней с подсобкой, и при создании программы указать какой день куда добавить.<br>
Пример. Если нужно добавить в день жима ног подсобку бицепса, то:<br>
  . создаем в расписании кастомный день<br>
  . добавляем в него упражнения для бицепса<br>
  . при расчете программы 5/3/1, включаем в разделе "Подсобка" галочку "Добавить из дня в расписании" и указываем в "День 4" нужный день с подсобкой.<br>
</p>

<br><h4>Не только 5/3/1</h4>

<p>Сайтом можно пользоваться как дневником тренировок и без программы 5/3/1. Для удобства при создании дня тренировки можно указать тип тренировки: Силовая тренировка, Кардио, Бокс, Смешанная. И они будут подствечены разными цветами в списке. Для каждого вида тренировки предлагается свой список упражнений.</p>

<p>На сайте можно подписаться на других пользователей чтобы следить за их прогрессом. Кроме того, можно открывать в общий доступ свои тренировочные программы и копировать себе открытые программы других пользователей.</p>

<br><h4>Социальность</h4>

<p>На сайте предусмотрены социальные функции. Вы можете подписываться на ваших знакомых в разделе
 	<% if current_user %>
	   <%= link_to "Пользователи", users_path %> 	
	<% else %>
	  "Пользователи"
	<% end %>
  чтобы следить за их прогрессом и писать комментраии в профайле других пользователей.</p>

<p>Кроме того, можно открывать доступ своих программ для других пользователей. Кнопка "Открыть доступ для всех" сделает день тренировки видимым для всех. Его можно будет открывать в 
 	<% if current_user %>
	   <%= link_to "вашем профайле", user_path(current_user) %> 
	<% else %>
	  вашем профайле
	<% end %>
	и любой пользователь сможет скопировать его себе.</p>

<br><br>
