<table class="table table-striped">
  <tbody>
  <% @notes.each do |note| %> 
    <tr>
    <td><strong><%= note.title %></strong><br><%= note.created_at.strftime("%d.%m.%Y %H:%M") %></td>
    <td><%= note.text %></td>
    <td><%= button_to(t(:destroy), note, :method => :delete, remote: true, 
                    data: { confirm: t(:confirm) }, :class => 'btn btn-mini btn-danger')  %> </td>
    </tr>
  <% end %>
 </tbody>
</table>
