  <tr>
  <td><%= exercise.title %></td>
  <td><%= exercise.reps %></td>
  <td><%= exercise.maxweight %></td>
  <td><%= button_to(t(:destroy), [exercise.day, exercise], 
             method: :delete, 
             data: { confirm: t(:confirm) }, :class => 'btn btn-mini btn-danger')  %> </td>
</tr>
